<h2>Testing a service with dependencies</h2>

<section>
  <p>
    If your service depends on other services (or pipes, or whatever), then there
    might be a little more effort required to get your tests up and running. Unfortunately,
    you don't really run into these efforts until you have a reasonably complicated project.
    Our example project isn't really that complicated, so we're going to use a horribly
    contrived example. One thing - these tests all require work in the setup stage of the 
    test suite. This means they're probably all going to fail with an error until you've 
    fixed all of them. Try not to freak out.
  </p>
</section>

<section>
  <h3>Providing dependencies - the easy version</h3>

  <div>If</div>
  <ul>
    <li>your project is using Angular 6 or higher and</li>
    <li>
      your service and all its dependencies (and all <i>their</i>
      dependencies) are annotated with 
  <pre><code>
      @Injectable(&#123;
        providedIn: 'root'
      })    
  </code></pre>
    </li>
  </ul>
  <p>
    then congratulations! You don't need to do anything - your tests will just work! 🎉
  </p>
</section>

<section>
  <h3>Providing dependencies - the slightly less easy version</h3>

  <p>
    If you've got any dependencies that aren't annotated with <code>providedIn: 'root'</code>
    then you're going to have to provide them yourself. The best way to do this is to 
    upgrade to the latest version of Angular (if you're not on it already) and add the 
    annotations. Don't forget to remove the service from the <code>providers</code> array
    in your app module if you do this.
  </p>

  <p>
    Sometimes though, this isn't possible. For example, if you're using lazy-loaded modules 
    and your service actually isn't part of the root module. Or you just don't have time to 
    upgrade Angular versions (don't worry, upgrading gets a lot easier from CLI v6!). In these
    cases you need to provide your services manually.
  </p>

  <div>
    The good news is that this works just like creating a module. You just need to pass 
    an array named <code>Providers</code> in to the TestBed configuration object, with 
    a list of all the services that you need. Don't forget to include the service under test,
    all its dependencies and all of their dependencies.
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ MyService, Dependency1, Dependency2 ]
      }));
  </code></pre>

  <div>
    The super contrived example is in <code>dependency.service.spec.ts</code>. You'll
    need to provide it with a dependency of <code>UnannotatedService</code>. (You can
    find the code for UnannotatedService in <code>dependency.service.ts</code>,
    because it's my workshop and I'll put a bunch of services in one file if I want to.)
  </div>
  <pre><code>
    beforeEach(() => &#123;
      TestBed.configureTestingModule(&#123;
        providers: [ UnannotatedService ]
      });
      service = TestBed.get(DependencyService);
    });
  </code></pre>
  <div>(or add the providedIn annotation to UnannotatedService)</div>  
</section>

<section>
  <h3>Providing dependencies - using stubs</h3>

  <p>
    And sometimes even this isn't enough. Sometimes you have deep dependency chains that
    are a complete pain to manage. Or you've got dependencies that make HTTP calls on
    initialisation and you just don't want to deal with that crap. In these cases, you can
    stub your dependencies.
  </p>

  <div>
    The easiest way to do this is providing a service using <code>useValue</code>
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ 
          MyService, 
          NiceDependency,
          &#123;
            provide: NastyDependency,
            useValue: &#123;}
          }
        ]
      }));
  </code></pre>

  <p>
    Angular's dependency injection is basically a big key-value store. The key is the 
    <i>type</i> of the service, and the value is the <i>instance</i> of that type that the 
    application is using. Normally, Angular adds services to the injector by just 
    instantiating a single instance of the type of each service. What we're doing here is 
    basically hacking the injector and telling it to use our value (which is an empty 
    object), instead of trying to create an instance of NastyDependency. 
  </p>

  <div>
    Of course, if we just pass in an empty object like this, we're going to run into 
    trouble if we try to call any of the functions in our dependency, because they're 
    not there! So you'll need to add stubbed versions of any functions you want to call.
    You can also initialise any properties that you need.
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ 
          MyService, 
          NiceDependency,
          &#123;
            provide: NastyDependency,
            useValue: &#123;
              startDate: new Date(),
              calculateSomething: () => this.startDate,
              calculateSomethingAsync: () => Promise.resolve('🦖')
            }
          }
        ]
      }));
  </code></pre>

  <p>
    In our example (<code>dependency.service.spec.ts</code>), we have a dependency that 
    makes an HTTP call in its constructor - the aptly named 
    <code>AnnoyingInitiationService</code>. We don't really want to deal with stubbing 
    HTTP at this point, so let's just stub out the whole AnnoyingInitiationService.
  </p>

  <app-hint-box>
    <span title>Yes? And how do I do that?</span>
    <div answer>
      <pre><code>
        TestBed.configureTestingModule(&#123;
          providers: [ 
            UnannotatedService,
            &#123;
              provide: AnnoyingInitiationService,
              useValue: &#123;
                getCombinedEmoji: () => '🇲🇶'
              }
            }
          ]
        });
      </code></pre>    
    </div>
  </app-hint-box>
  <div>
    Don't forget to ensure the emoji you return in the stub matches the emoji you're
    checking for in the test.
  </div>
</section>

<section>
  <h3>Providing dependencies - using AngularJS services with ng-upgrade</h3>

  <p>
    I'm not going to lie - testing services that depend on AngularJS services in an 
    ng-upgrade project can be a little tricky. First of all, the AngularJS dependency 
    injector uses strings as its keys, rather than types like the Angular injector does.
    This is why you need to annotate dependencies in AngularJS, and why we need to give 
    our Angular services string names when we downgrade them for use in AngularJS. It also
    means we need a way to tell the TestBed which strings refer to which services.
  </p>

  <div>
    The good news is, this is pretty easy.
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ 
          MyService, 
          NiceDependency,
          &#123;
            provide: 'OldSchoolService',
            useClass: OldSchoolService
          }
        ]
      }));
  </code></pre>
  <div>
    Here, we've hacked the dependency injector again. This time we're telling it to use
    our string as the key, and create an instance of the given class as the value.
  </div>

  <p>
    If your AngularJS dependency has dependencies on other AngularJS services, you're
    going to run into the same hassles as with Angular services above. In those cases 
    you can define a stubbed version of the AngularJS service using 
    <code>useValue</code> just like we did above.
  </p>
</section>

<section>
  <h3>Returning custom values & spying</h3>

  <div>
    If you need one of your dependency's functions to return a specific value for your 
    test, you can either set that up when you create the stub (like above), or you can 
    do it within the test. To do it inside your test, you can grab a reference to the
    service in your class and stub out the function. You can also set properties on your 
    service in the same way.
  </div>
  <pre><code>
      const emojiService = TestBed.get(EmojiService);
      emojiService.currentMood = '🌋';
      emojiService.getRandomEmoji = () => '🤘🏻';
  </code></pre>

  <p>
    This time we want to implement the terrible test that checks that 
    <code>getRandomEmoji</code> returns the correct value. Yes, it's not really testing 
    anything, we're just practising stubbing. You want to implement the test called 
    'should get an emoji from the list'.
  </p>

  <app-hint-box>
    <span title>whatever</span>
    <div answer>
      <pre><code>
        it('should get an emoji from the list', () => &#123;
          const annoyingService = TestBed.get(AnnoyingInitiationService);
          annoyingService.getEmoji = () => '🦱';
          expect(service.getRandomEmoji()).toBe('🦱');
        });  
      </code></pre>    
    </div>
  </app-hint-box>

  <p>
    If you want to spy on a function, it works pretty much the same. If you're going to
    spy on it a lot, you can set up the spy when you initialise everything.
  </p>

  <div>
    To just spy on a single function
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ 
          MyService, 
          &#123;
            provide: EmojiService,
            useValue: &#123;
              getHappyEmoji: jasmine.createSpy('getHappyEmoji')
            }
          }
        ]
      }));
  </code></pre>
  <div>
    Don't forget to give your spy a name, so debugging is easier later.
  </div>

  <div>
    To spy on all the functions in a service
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ 
          MyService, 
          &#123;
            provide: EmojiService,
            useValue: jasmine.createSpyObject('EmojiService', ['getHappyEmoji', 'getSadEmoji'])
          }
        ]
      }));
  </code></pre>

  <p>
    Don't forget that by default, your spy will return undefined. If you need it to return 
    a value, you can tell it to return a mock value, or call a mock function.
  </p>

  <div>Mock value:</div>
  <pre><code>getHappyEmoji: jasmine.createSpy('getHappyEmoji').and.returnValue('😊')</code></pre>

  <div>Mock function:</div>
  <pre><code>
  getHappyEmoji: jasmine.createSpy('getHappyEmoji')
                    .and.callFake((upsideDown) => upsideDown ? '🙃' : '😊')</code></pre>

  <div>
    If you just need to spy on something within a test, you can do that, similar to 
    creating a stubbed function above.
  </div>
  <pre><code>
      const emojiService = TestBed.get(EmojiService);
      spyOn(emojiService, 'getRandomEmoji').and.returnValue('🤹🏿‍♀️');
  </code></pre>
</section>

<section>
  <p>
    Let's just do one example for all of these. You're a smart cookie, I'm sure you get 
    the idea.
  </p>

  <p>
    Last one for this section - we need to implement the call for help test.
    Don't forget to make sure the HelpService is being included in the TestBed somehow
    (either in the providers array, or via annotation).
  </p>
  <app-hint-box>
    <span title>Show me</span>
    <div answer>
      <pre><code>
        it('should call for help', () => &#123;
          const helpService = TestBed.get(HelpService);
          spyOn(helpService, 'callForHelp');
          service.onEmergency();
          expect(helpService.callForHelp).toHaveBeenCalled();
        });  
      </code></pre>    
    </div>
  </app-hint-box>
</section>

<section>
  <h3>Getting access to AngularJS services</h3>

  <div>
    Remember how AngularJS uses strings instead of types in its dependency injection?
    That affects how you get stuff out of the TestBed - instead of specifying the type 
    you want, you need to pass in the string you used when you provided the dependency.
    Other than that, it works exactly the same.
  </div>
  <pre><code>
      const emojiService = TestBed.get('OldSchoolEmojiService');
      spyOn(emojiService, 'getRandomEmoji').and.returnValue(':-)');
  </code></pre>
</section>