<h2>Testing a service with dependencies</h2>

<section>
  <p>
    If your service depends on other services (or pipes, or whatever), then there
    might be a little more effort required to get your tests up and running. Unfortunately,
    you don't really run into these efforts until you have a reasonably complicated project.
    Our example project isn't really that complicated, so we're going to use a horribly
    contrived example. One thing - these tests mostly require work in the setup stage of the 
    test suite. This means they're probably all going to fail with an error until you've 
    fixed a few things. Try not to freak out.
  </p>
</section>

<section>
  <h3>Providing dependencies - the easy version</h3>

  <div>If</div>
  <ul>
    <li>your project is using Angular 6 or higher and</li>
    <li>
      your service and all its dependencies (and all <i>their</i>
      dependencies) are annotated with 
<pre><code>
  @Injectable(&#123;
    providedIn: 'root'
  })

</code></pre>
    </li>
  </ul>
  <p>
    then congratulations! You don't need to do anything - your tests will just work! 🎉
  </p>
</section>

<section>
  <h3>Providing dependencies - the slightly less easy version</h3>

  <p>
    If you've got any dependencies that aren't annotated with <code>providedIn: 'root'</code>
    then you're going to have to provide them yourself. The best way to do this is to 
    upgrade to the latest version of Angular (if you're not on it already) and add the 
    annotations. Don't forget to remove the service from the <code>providers</code> array
    in your app module if you do this.
  </p>

  <p>
    Sometimes though, this isn't possible. For example, if you're using lazy-loaded modules 
    and your service actually isn't part of the root module. Or you just don't have time to 
    upgrade Angular versions (don't worry, upgrading gets a lot easier from CLI v6!). In these
    cases you need to provide your services manually.
  </p>

  <div>
    The good news is that this works just like creating a module. You just need to pass 
    an array named <code>Providers</code> in to the TestBed configuration object, with 
    a list of all the services that you need. Don't forget to include the service under test,
    all its dependencies and all of their dependencies.
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ MyService, Dependency1, Dependency2 ]
      }));
  </code></pre>

  <p>
    The example we're going to look at today is in <code>dependency.service.spec.ts</code>.
    It depends on <code>UnannotatedService</code> and <code>AnnoyingInitiationService</code>.
    Currently all the tests are failing with an error something like
    <code class="error">NullInjectorError: No provider for UnannotatedService!</code>
    You'll need to sort that out.
  </p>

  <app-hint-box>
    <span title>Oh yes, and how do I do that?</span>
    <div answer>
      <p>
        You've got a couple of options. You can go old school, and provide the dependency to the TestBed.
      </p>
      <pre><code>
        beforeEach(() => &#123;
          TestBed.configureTestingModule(&#123;
            providers: [ UnannotatedService ]
          });
      
          service = TestBed.get(DependencyService);
        });        
      </code></pre>

      <p>Or you can just add the relevant annotation to the UnannotatedService class.</p>

      <pre><code>
          @Injectable(&#123;
            providedIn: 'root'
          })          
      </code></pre>
    </div>
  </app-hint-box>

  <p>Of course, once you do that, you just get another error</p>

  <code class="error">NullInjectorError: No provider for AnnoyingInitiationService</code>

  <p>
    And providing AnnoyingInitiationService just results in yet another error.
  </p>

  <code class="error">Can't resolve all parameters for AnnoyingInitiationService: (?)</code>

  <p>What is a dev to do?</p>
</section>

<section>
  <h3>Providing dependencies - using stubs</h3>

  <p>
    Often, you'll want to provide mock values to be returned by your service's dependencies. And 
    Angular provides a couple of easy ways to do that. The least subtle is to just stub 
    out the entire dependency and provide your own value. This can be helpful if the dependency has 
    some complicated initialisation that you don't want to deal with, or it's got a bunch of methods and 
    you really only care about one or two, or the dependency itself has complicated dependencies that you 
    don't want to deal with.
  </p>

  <p>
    In our case, <code>AnnoyingInitiationService</code> depends on Angular's HttpClient. Angular actually 
    provides a really nice test mock for HttpClient, which we'll look at in a later section, but, for now, 
    we just don't want to deal with it at all. We can do that by providing the TestBed with a mock service instead.
  </p>

  <pre><code>
    TestBed.configureTestingModule(&#123;
      providers: [
        &#123;
          provide: NastyDependency,
          useValue: &#123;
            mockFunction: () => '🐲',
          }
        }
      ]
    })
  </code></pre>

  <p>
    You can pass any object you like as the <code>useValue</code> property, but make sure it implements any 
    functions and initialises any properties you're going to use. (And yes, it's fine that we're passing in 
    an object literal when the real service is a class, becauses classes in JavaScript are made up and don't 
    really exist. Isn't that fun? 😆)
  </p>

  <p>
    So, how does this work? Angular's dependency injection is basically a big key-value store. The key is the 
    <i>type</i> of the service, and the value is the <i>instance</i> of that type that the application is using. 
    Normally, Angular adds services to the injector by instantiating a single instance of the type of 
    each service. What we're doing here is basically hacking the injector and telling it to use our value instead.
  </p>

  <p>So, armed with this knowledge, go forth and destroy that error in the test!</p>

  <app-hint-box>
    <span title>Just run that by me again, with a little more detail and an exact solution?</span>
    <div answer>
      <pre><code>
        TestBed.configureTestingModule(&#123;
          providers: [ 
            UnannotatedService, 
            &#123;
              provide: AnnoyingInitiationService,
              useValue: &#123;
                getCombinedEmoji: () => '🇲🇶',
                getEmoji: () => '👩‍🔬'
              }
            }
          ]
        });
      </code></pre>
    </div>
  </app-hint-box>

  <p>Fantastic, that should leave us with just a couple of failing tests!</p>
</section>

<section>
  <h3>Stubbing just a bit</h3>

  <p>
    Sometimes, you just want to stub out a single function in a dependency. Or, you want your
    stubs to return different values in different tests. We can deal with this situation by
    grabbing a reference to our dependency from inside the test, and doing whatever we need 
    to there. 
  </p>

  <p>
    You can grab a reference to a dependency from inside the test just the same as you got 
    the reference to the service in the first place.
  </p>
  <pre><code>const myDependency = TestBed.get(DependencyServiceClass)</code></pre>

  <p>
    Then you can stub functions and set properties to your heart's content!
  </p>
  <pre><code>
    myDependency.dance = () => '🕺💃🏾';
    myDependency.disc = '💿';
  </code></pre>

  <p>So let's fix that next test!</p>

  <app-hint-box>
    <span title>How, exactly?</span>
    <div answer>
      <pre><code>
        it('should get the special weekend emoji on weekends', () => &#123;
          const annoyingService = TestBed.get(AnnoyingInitiationService);
          annoyingService.isWeekend = true;
          expect(service.getRandomEmoji()).toBe('🎉');
        });        
      </code></pre>
    </div>
  </app-hint-box>

  <p>Just one more to go...</p>
</section>

<section>
  <h3>Spies and secret agents</h3>

  <p>
    You can use these techniques to set up spies too. If you're spying on your 
    function a lot, you can setup the spy when you set up the TestBed...
  </p>

  <pre><code>
    beforeEach(() => TestBed.configureTestingModule(&#123;
      providers: [ 
        &#123;
          provide: ServiceWithJustOneSpy,
          useValue: &#123;
            getHappyEmoji: jasmine.createSpy('getHappyEmoji')
          }
        },
        &#123;
          provide: ServiceThatNeedsHeapsOfSpies,
          useValue: jasmine.createSpyObject('EmojiService', ['getHappyEmoji', 'getSadEmoji'])
        }
      ]
    }));
  </code></pre>

  <p>Or inside a test...</p>
  <pre><code>
    const dependency = TestBed.get(MyDependency);
    spyOn(dependency, 'getHappyEmoji');
    expect(dependency.getHappyEmoji).toHaveBeenCalled();
  </code></pre>

  <p>
    The first string passed into <code>createSpy</code> and <code>createSpyObject</code> 
    is a name for the spy. Jasmine will use this name when reporting errors in your test, which is handy.
  </p>

  <p>
    By default, the spies will return <code>undefined</code>. If you need them to return something else, you
    can totally do that.
  </p>
  <pre><code>
    dependency.getHappyEmoji = jasmine.createSpy('getHappyEmoji').and.returnValue('😊');
    dependency.getSomeEmoji = jasmine.createSpy('getHappyEmoji')
                                  .and.callFake((upsideDown) => upsideDown ? '🙃' : '😊');
  </code></pre>

  <p>
    Ok, go fix that last test!
  </p>

  <app-hint-box>
    <span title>...</span>
    <div answer>
      <pre><code>
        it('should call for help', () => &#123;
          const emergency = TestBed.get(EmergencyService);
          spyOn(emergency, 'help');
          service.callForHelp();
          expect(emergency.help).toHaveBeenCalled();
        })        
      </code></pre>
    </div>
  </app-hint-box>
</section>

<section>
  <h3>Special considerations for AngularJS</h3>

  <p>
    I'm not going to lie - testing services that depend on AngularJS services in an 
    ng-upgrade project can be a little tricky. First of all, the AngularJS dependency 
    injector uses strings as its keys, rather than types like the Angular injector does.
    This is why you need to annotate dependencies in AngularJS, and why we need to give 
    our Angular services string names when we downgrade them for use in AngularJS. It also
    means we need a way to tell the TestBed which strings refer to which services.
  </p>

  <div>
    The good news is, this is pretty easy.
  </div>
  <pre><code>
      beforeEach(() => TestBed.configureTestingModule(&#123;
        providers: [ 
          MyService, 
          NiceDependency,
          &#123;
            provide: 'OldSchoolService',
            useClass: OldSchoolService
          }
        ]
      }));
  </code></pre>
  <div>
    Here, we've hacked the dependency injector again. This time we're telling it to use
    our string as the key, and create an instance of the given class as the value.
  </div>

  <p>
    If your AngularJS dependency has dependencies on other AngularJS services, you're
    going to need to provide them too. Or, you can provide a stubbed version of the 
    AngularJS dependency, using <code>useValue</code>, just like above.
  </p>

  <p>
    You also need to remember that the keys are strings when you're using <code>TestBed.get()</code>.
    To get access to an AngularJS service, use 
  </p>
  <pre><code>
      const emojiService = TestBed.get('OldSchoolEmojiService');
      spyOn(emojiService, 'getRandomEmoji').and.returnValue(':-)');
  </code></pre>
  <p>Note that we're passing in the string 'OldSchoolEmojiService', not the class.</p>
</section>
