<h2>Testing a service with no dependencies</h2>

<p>
  Let's start super-simple, with a service that doesn't rely on any other services, and 
  doesn't do anything asynchronously. We're going to write tests for the High Score service
  (high-score.service.spec.ts).
</p>

<p>
  The high score service stores and retrieves the high score. It keeps it in local storage
  so it survives the page reloading. The service uses a setter and getter so it can handle
  the local storage stuff transparently, and you can just use 
  <code>HighScoreService.score</code> as a normal property.
</p>

<p>
  You can retrieve the score using something like 
  <code>const myScore = this.highScoreService.score</code>.
</p>

<p>
  You can set the score just by doing something like 
  <code>this.highScoreService.score = newScore</code>.
  If the new score is higher than the current high score, the high score will get updated.
  Otherwise, it'll get ignored.
</p>

<p>
  This might be a slightly contrived example, but services for handling local storage like 
  this do exist. There are situations where local storage isn't available, so you need a 
  service to transparently provide a fallback, such as storing data in cookies. For example, 
  Safari in porn mode reduces the available local storage space to 0. 
  <code>angular-local-storage</code> is a module that can handle this situation for you in 
  AngularJS. (I don't know an equivalent Angular service off the top of my head, sorry).
</p>

<p>
  Ok, so the things we're going to test are:
</p>
<ul>
  <li>The service gets created by the injector</li>
  <li>If no high score has been set, the service returns 0</li>
  <li>The high score is fetched from local storage</li>
  <li>The high score is updated with higher scores</li>
  <li>Lower scores are ignored</li>
</ul>

<h3>The service gets created by the injector</h3>
<p>
  Good news! You actually get this one for free! When you create a service using 
  the Angular CLI, it creates a spec file for you with the following things in it:
</p>
<pre><code>
    describe('HighScoreService', () => &#123;
      beforeEach(() => TestBed.configureTestingModule(&#123;}));
    
      it('should be created', () => &#123;
        const service: HighScoreService = TestBed.get(HighScoreService);
        expect(service).toBeTruthy();
      });
    });    
</code></pre>
<p>This bit</p>
<code>beforeEach(() => TestBed.configureTestingModule(&#123;}));</code>
<p>
  runs before each test and sets up the test environment, or TestBed. The 
  TestBed does all the stuff that Modules do in the real world. You can use 
  it to set up all the services and components that the service or component 
  that you're testing relies on. In this case, we don't have any, so we just 
  pass an empty object in. 
</p>
<p>
  Once the TestBed is set up, we can use it to retrieve an instance of our 
  service
</p>
<code>const service: HighScoreService = TestBed.get(HighScoreService);</code>
<p>
  This works like <code>$inject</code> in AngularJS, except without all the 
  magic and underscores. We'll have a look at it in more detail later.
</p>
<p>
  That just leaves one last bit of this test
</p>
<code>expect(service).toBeTruthy();</code>
<p>
  which just checks that the service exists. (If you're not familiar with 
  truthy and falsy in JavaScript, check out 
  <a target="black" rel="noopener" href="https://developer.mozilla.org/en-US/docs/Glossary/Truthy">
    the MDN glossary
  </a>). As a general rule, I'd suggest you don't use Jasmine's <code>toBeTruthy</code>
  function - instead, check for the actual value you're testing for. In this case, we could 
  use <code>expect(service).toBe(Jasmine.any(HighScoreService))</code>, which checks the type
  of our service instead. To be honest though, I usually just leave these autogenerated tests 
  as they are.
</p>

<h3>Return zero if no high score has been set</h3>
<ul>
  <li>
    Make sure you clear out local storage at the start of the test, to make sure the 
    test still works, even if some other test that changes local storage runs before it.
  </li>
  <li>
    You'll need a reference to the service. You could repeat the line from the previous 
    test that fetches it from the TestBed, but obviously you're going to need to do this 
    in every single test, so it's more efficient to move it to the <code>beforeEach</code>
  </li>
  <li>Then you just need to check the value!</li>
</ul>
<pre><code>
    describe('HighScoreService', () => &#123;
      let service: HighScoreService;
    
      beforeEach(() => &#123;
        TestBed.configureTestingModule(&#123;);
        service = TestBed.get(HighScoreService);
      });
    
      it('should be created', () => &#123;
        expect(service).toBeTruthy();
      });
    
      it('should return 0 if no score has been set', () => &#123;
        localStorage.clear();
        expect(service.score).toBe(0);
      });
    });    
</code></pre>

<h3>Fetch the score from local storage</h3>
<p>
  This test is quite similar to the previous one. You need to set a value to
  local storage and ensure that the service returns it. The key to use for 
  setting the value in local storage is available as <code>service.key</code>.
  You'll need to pass a string in to <code>localStorage.setItem</code>, but check
  that the service returns a number, which is a bit inconvenient.
</p>
<pre><code>
    it('should fetch the score from local storage', () => &#123;
      localStorage.setItem(service.key, '99');
      expect(service.score).toBe(99);
    });  
</code></pre>

<h3>Update the score with a higher score & Ignore a lower score</h3>
<p>
  You should have the hang of this by now. Set the score in local storage, then
  test what happens when you set a higher score or a lower score. Remember you can 
  set the value using <code>service.score = newScore</code>.
</p>
<pre><code>
    it('should set the score if the current score is higher than the previous higher score', () => &#123;
      localStorage.setItem(service.key, '55');
      service.score = 56;
      expect(service.score).toBe(56);
    });
  
    it('should not set the score if the current score is lower than the previous high score', () => &#123;
      localStorage.setItem(service.key, '55');
      service.score = 54;
      expect(service.score).toBe(55);
    });  
</code></pre>
