<h2>Testing a service that does something asynchronously</h2>

<section>
  <p>
    I'm not going to lie - testing async services can be pretty damned tricky. Luckily,
    Jasmine and Angular both provide us with some helpful tools to make this a bit easier.
  </p>
</section>

<section>
  <h3>Why is async testing hard?</h3>

  <p>
    Async testing is hard because any async code gets executed after <i>all</i>
    the synchronous code has completed.
  </p>

  <pre class="test"><code>
<span class="sync">it('does something async', () => &#123;
  service.doAsyncThing();
  expect(service.asyncValue).toBe('🕛');
});</span></code></pre>
  <pre><code>
<span class="sync">doAsyncThing() &#123;
  return Promise.resolve().then(</span><span class="async">() => &#123;
    this.asyncValue = '🕛';
  }</span><span class="sync">);
}</span></code></pre>

  <p>
    (If you're not familiar with <code>Promise.resolve</code>, it's basically a cheat
    for forcing code to be async. It creates a Promise that gets resolved immediately.
    It's super helpful for tests. Outside of tests, you can use it when you have a
    function that could return either a synchronous value or an async value, to force the
    sync value to be async, so you have a consistent interface. Don't use it like I just
    did here.)
  </p>

  <div>
    Because of the asyncness, all of the code highlighted <span class="sync">like this</span> 
    will run, then the code <span class="async">like this</span> will run:
  </div>
  <ol>
    <li>The test begins and calls <code>service.doAsyncThing()</code></li>
    <li>
      <code>doAsyncThing</code> calls Promise.resolve() and returns a Promise.
      (The code inside the <code>then</code> is added to a queue to be called later).
    </li>
    <li>
      The test runs the expect, which fails, as <code>service.asyncValue</code> is 
      currently <code>undefined</code>.
    </li>
    <li>
      Everything on the current stack is now complete, so the async code runs. 
      <code>asyncValue</code> is set to '🕛', but it's too late! The test is already over!
    </li>
  </ol>

  <div>
    So, how do we fix this? There are a couple of options. First up, Jasmine provides a
    way to stop the test from completing until you're ready. Your test function  
    can take a single argument (conventionally named <code>done</code>). This 
    argument is a function that you call to let Jasmine know that your test is finished.
    You don't need to implement this function - Jasmine will pass it in when it calls your 
    test.
  </div>
  <pre><code>it('waits half a second before ending the test', (done) => &#123;
    const result = service.getResult();
    setTimeout(() => &#123;
      expect(result).toBe(expectedResult));
      done();
    }, 500); 
  });</code></pre>

  <div>
    You can use it with Promises too.
  </div>
  <pre><code>it('does something async', (done) => &#123;
    service.doAsyncThing().then(() => &#123;
      expect(service.asyncValue).toBe('🕛');
      done();
    });
  });</code></pre>

  <div>So now what happens?</div>
  <ol>
    <li>The test begins and calls <code>service.doAsyncThing()</code></li>
    <li>
      <code>doAsyncThing</code> calls Promise.resolve() and returns a Promise.
      (The code inside the <code>then</code> is added to a queue to be called later).
    </li>
    <li>
      The code inside the <code>then</code> in the test is added to the same queue, after 
      the other code. The test functions returns, and Jasmine marks the test as pending.
    </li>
    <li>
      Everything on the current stack is now complete, so the async code runs. The 
      <code>then</code> in <code>doAsyncThing</code> is run and <code>asyncValue</code> is
      set to '🕛'.  
    </li>
    <li>
      The <code>then</code> in the test is run and our <code>expect</code> passes. 🎉
    </li>
    <li>
      Jasmine marks the test as complete. Success!
    </li>
  </ol>

  <p>
    If you're using <code>async</code> and <code>await</code>, you don't even need use 
    <code>done</code> - just write your code as if it was synchronous.
    <code>async</code> functions return a Promise that isn't resolved until the function 
    finished running. Jasmine is able to use that Promise to determine when your test is 
    done.
  </p>

  <p>
    So Jasmine has its way of handling async functions, but Angular also provides you with 
    a way of doing the same thing, more closely tied to its own change detection mechanism.
    Angular's method is particularly helpful when you're testing components, but it also 
    provides some nifty functionality for making async tests seem synchronous, so let's have
    a look at that.
  </p>
</section>

<section>
  <h3>Async tasks and Zones</h3>

  <p>
    To understand how Angular's async test helper functions work, it's handy to have a basic 
    grasp of how change detection works in Angular. Angular code runs inside something called 
    a Zone. Inside the Zone, all the functions that can create asynchronous tasks are 
    monkey-patched with special Angular versions of the functions. These special Angular 
    versions basically add a little extra code that notifies Angular when the async task
    has finished, so it can run its change detection algorithm.
  </p>

  <div>
    For example, Angular's setTimeout function looks something like
  </div>
  <pre><code>const nativeSetTimeout = setTimeout;
  setTimeout = (callback, delay) => &#123;
    nativeSetTimeout(() => &#123;
      callback();
      notifyAngular();
    }, delay)
  }</code></pre>

  <p>
    Angular saves a reference to the browser's <code>setTimeout</code>, then creates its 
    own <code>setTimeout</code> function. Angular's <code>setTimeout</code> calls the browser's 
    <code>setTimeout</code>, passing in a callback that runs your callback, then notifies Angular 
    once it's done. Pretty nifty, right?
  </p>

  <p>
    Other functions that have been monkey-patched in this fashion are setInterval, 
    addEventListener, requestAnimationFrame, XMLHttpRequest and Promises. 
    Basically anything that can create an async task.
  </p>

  <p>
    So, Zones are pretty handy, but unfortunately, Angular only creates its main Zone - 
    ngZone - when your app is bootstrapped (in <code>main.js</code> if you're using the 
    CLI). This bootstrapping doesn't happen when you're running tests though, so no ngZone!
  </p>

  <p>
    Luckily, the Angular devs realised that this could cause some problems, so they also 
    created a couple of other Zones, specifically for testing purposes - the 
    <code>async</code> and <code>fakeAsync</code> Zones.
  </p>
</section>

<section>
  <h3>The async Zone</h3>

  <div>
    The async zone works similarly to Jasmine's <code>done</code>. You wrap
    a test (or a beforeEach) in an async zone, and the test (or beforeEach) won't complete
    until all the async calls inside it have resolved. This test (from the actual Angular 
    codebase) demonstrates this.
  </div>
  <pre><code>it('should flush microtasks before returning', () => &#123;
  let thenRan = false;
  async(() => &#123;
    resolvedPromise.then(_ => &#123; thenRan = true; }); 
  })();
  expect(thenRan).toEqual(true);
});</code></pre>

  <p>
    Note that we're wrapping that inner function in another function named async. This isn't
    the same as the JavaScript <code>async</code> keyword, even though they look very similar.
  </p>

  <div>Normally, you'd use it something like this</div>
  <pre><code>it('does something async', async(() => &#123;
    service.doAsyncThing().then(() => &#123;
      expect(service.asyncValue).toBe('🕛');
    });
  }));</code></pre>
</section>

<section>
  <h3>Testing using the <code>async</code> Zone (or Jasmine's <code>done</code>)</h3>

  <p>
    Check out the <code>echo</code> function in <code>async.service.ts</code>. You send it a string, 
    and a number of milliseconds. It waits that number of milliseconds, then sends back your string.
    You can try it out here:
  </p>

  <form #echoForm="ngForm" (submit)="doEcho()">
    Send me back <input class="words" type="text" [(ngModel)]="words" name="words" placeholder="some words" />
    in <input class="delay" type="number" [(ngModel)]="delay" name="delay" /> milliseconds
    <button class="echo">ECHO<span style="font-size: .75em">echo</span> <span style="font-size: .5em">echo</span></button>
    <div class="response" [ngClass]="{ responded: responded }">{{ response | async }}</div>
  </form>

  <p>
    I know. The excitement. So, your mission is to implement the 'should send back an echo' test in
    <code>async.service.spec.ts</code>. You can use the <code>async</code> Zone or Jasmine's 
    <code>done</code>. I don't mind. I'll wait here.
  </p>

  <app-hint-box>
    <span title>A solution using the <code>async</code> Zone</span>
    <div answer>
      <pre><code>
      it('should send back an echo', async(() => &#123;
        service.echo('coo-ee', 500).then((response) => &#123;
          expect(response).toBe('coo-ee');
        });
      }));
      </code></pre>
    </div>
  </app-hint-box>

  <app-hint-box>
    <span title>A solution using <code>done</code></span>
    <div answer>
      <pre><code>
        it('should send back an echo', (done) => &#123;
          service.echo('coo-ee', 500).then((response) => &#123;
            expect(response).toBe('coo-ee');
            done();
          });
        });
      </code></pre>  
    </div>
  </app-hint-box>

  <app-hint-box>
    <span title>A solution using <code>async/await</code></span>
    <div answer>
      <pre><code>
        it('should send back an echo', async () => &#123;
          await service.echo('coo-ee', 500);
          expect(response).toBe('coo-ee');
        });
      </code></pre>  
    </div>
  </app-hint-box>
  
  <p>
    The async zone is pretty handy - you can see it in action in the generated spec file for
    components - but the really good stuff is in the fakeAsync zone.
  </p>
</section>

<section>
  <h3>The fake async zone</h3>

  <div>
    The rest of the functionality in the AsyncService is related to implementing a service for a spinner.
    The acceptance criteria for the spinner are
  </div>
  <ol>
    <li>
      You can pass in a promise, and the spinner will stop spinning some time after the promise resolves
    </li>
    <li>
      The spinner must always spin for at least one second, to avoid having a spinner just flash into existence
      momentarily.
    </li>
    <li>
      You can pass another promise into the spinner while it is spinning. It will keep spinning until all 
      the promises it has received have settled, and at least one second has passed.
    </li>
    <li>
      The spinner will treat a rejected Promise the same as a resolved Promise - it will wait until all Promises 
      have either rejected or resolved until it stops spinning.
    </li>
  </ol>

  <div>You can try it out if you like</div>
  <div>
    Add task with <input type="number" [(ngModel)]="spinnerDelay" name="spinnerDelay" class="delay" /> second delay
    <button type="button" (click)="makeSpin()">Go</button>
    <div class="spinner-box">
      <div *ngIf="spinning" class="spinner"></div>
    </div>
  </div>

  <p>
    Implementing this actually turned out to be kind of tricky, so if anyone has a better solution, 
    I'd love to hear it. In the meantime though, you get to test my implementation! But first, let's 
    have a look at the <code>fakeAsync</code> Zone and what it can do for us.
  </p>

  <p>
    The <code>fakeAsync</code> zone essentially makes everything synchronous. When you call
    <code>setTimeout</code> from inside the <code>fakeAsync</code> Zone, rather than creating a timer,
    it just adds your callback and delay to a queue. You control when it gets popped off the queue. Same 
    thing with Promises. When a Promise gets resolved, the <code>then</code> callback gets added to the 
    queue and you decide when it gets popped off.
  </p>

  <p>
    The simplest way to get things off the queue is to call <code>flush()</code>. <code>flush()</code>
    will run all the callbacks in the queue (in the order they would have run in the real world), and 
    returns the number of milliseconds that would have elapsed, if time were passing normally. This is 
    handy for us - we can use it to check if our spinner has spun for the minimum time!
  </p>

  <p>
    One other thing - the <code>fakeAsync</code> Zone doesn't like unfinished business. If it has any
    timer callbacks sitting in its queue when it ends, it will throw an error and your test will fail.
  </p>

  <h4>It should spin for a second, if the given promise takes less than a second to resolve</h4>

  <p>Let's do this thing.</p>

  <app-hint-box style="margin-bottom: 12px;">
    <span title>I don't really know where to start, can I have a hint?</span>
    <div answer>
      <p>
        We need a way to check whether our spinner Promise has resolved or not. Unfortunately, there's not 
        really an easy way to check a Promise's state directly. Instead, we can check it indirectly, by 
        doing something like
      </p>
      <pre><code>let isSpinning = true;
      service.spin(promise).then(() => &#123;
        isSpinning = false;
      });</code></pre>
      <div>
        Then we can do whatever we need to do in our test and use
      </div>
      <pre><code>expect(isSpinning).toBe(true/false)</code></pre>
      <p>
        to check the state of our spinner. You'll probably want to reuse this snippet across multiple
        tests, so it might be an idea to extract it into a function. Don't be tempted to put it in the 
        <code>beforeEach</code> though - remember, it needs to run inside our <code>fakeAsync</code>
        Zone. (Yes, you could wrap <code>beforeEach</code> in a <code>fakeAsync</code> Zone too, but it
        would be in a different <code>fakeAsync</code> zone than the test, so it wouldn't work).
      </p>          
    </div>
  </app-hint-box>

  <app-hint-box></app-hint-box>
  <button>One possible solution</button>
  <pre><code>it('should spin for a second, if the given promise takes less than a second to resolve', fakeAsync(() => &#123;
        let isSpinning = true;
        service.spin(promise).then(() => &#123;
          isSpinning = false;
        });
        resolve();
        const time = flush();
        expect(isSpinning).toBe(false);
        expect(time).toBeGreaterThanOrEqual(1000);
      }));</code></pre>

  <ol>
    <li>Start our spinner spinning, by passing in a Promise</li>
    <li>Resolve the Promise that we passed in</li>
    <li>
      Run the setTimeout callback that adds the one second delay to our spinner <i>and</i>
      any <code>then</code> callbacks, including the one in our test
    </li>
    <li>Check our spinner has stopped</li>
    <li>Check that it took at least a second for all this to happen</li>
  </ol>

  <p>Phew. That was fun, wasn't it? Ok, let's step it up a notch</p>

  <h4>It should spin until the given promise resolves, if the promise takes more than one second</h4>
  <p>
    <code>fakeAsync</code> has a couple of other weapons we can add to our arsenal. These next two work 
    like <code>flush()</code> but give us a little more fine-grained control.
  </p>

  <p>
    <code>tick(millis)</code> manually advances time by the number of milliseconds given. First, it runs 
    any Promise callbacks that are waiting. Then it runs the callbacks for any timers that would have 
    expired in the given time. After each timer callback, it runs any new Promise callbacks that have been
    generated. 
  </p>

  <p>
    <code>flushMicrotasks()</code> runs any Promise callbacks that are waiting. Remember how I said before 
    that within the <code>fakeAsync</code> Zone, all the async callbacks get added to a queue? There's 
    actually two queues - one for Promise callbacks and one for everything else. Within the JavaScript 
    engine, Promise callbacks are always given higher priority than other callbacks. This two-queue situation
    allows Angular to emulate that behaviour. <code>tick</code> and <code>flush</code> will always empty 
    the Promise callback queue (the microtask queue) before they touch the other queue.
  </p>

  <p>Ok, so how about our test?</p>

  <pre><code>it('should spin until the given promise resolves, if the promise takes more than one second', fakeAsync(() => &#123;
    let isSpinning = true;
    service.spin(promise).then(() => &#123;
      isSpinning = false;
    });
    tick(1000);
    expect(isSpinning).toBe(true);
    resolve();
    flushMicrotasks();
    expect(isSpinning).toBe(false);
  }));</code></pre>

  <ol>
    <li>Start our spinner spinning, just like before</li>
    <li>Advance time by one second, causing our timer to expire</li>
    <li>Check our spinner is still spinning</li>
    <li>Resolve the Promise we passed in</li>
    <li>Run all the Promise callbacks, including the one in the test</li>
    <li>Check our spinner has stopped</li>
  </ol>

  <p>Onwards and upwards!</p>

  <h4>It should stop spinning if the given promise is rejected and a second has passed</h4>

  <p>
    Honestly, this test is the same as the last one, just with a <code>reject</code> instead of a 
    <code>resolve</code>. You got this.
  </p>

  <pre><code>it('should stop spinning if the given promise is rejected and a second has passed', fakeAsync(() => &#123;
    let isSpinning = true;
    service.spin(promise).then(() => &#123;
      isSpinning = false;
    });
    tick(1000);
    reject();
    flushMicrotasks();
    expect(isSpinning).toBe(false);
  }));</code></pre>

  <h4>Multi-promise spinner</h4>

  <p>
    The tests for the spinner handling multiple Promises just use all the same stuff that we used above.
    The one thing you'll need to think about is how the setup for <code>isSpinning</code> works, and make 
    sure that you set it to <code>false</code> only after you've resolved <i>both</i> Promises. This is 
    really just a matter of making sure you resolve the Promises in the right order.
  </p>

  <div>It should continue spinning until all given promises are resolved or rejected</div>
  <pre><code>it('should continue spinning until all given promises are resolved or rejected', fakeAsync(() => &#123;
    let isSpinning = true;
    service.spin(promise);

    service.spin(anotherPromise).then(() => &#123;
      isSpinning = false;
    });

    tick(1000);
    resolve();
    flushMicrotasks();
    expect(isSpinning).toBe(true);

    resolveAnotherPromise();
    flushMicrotasks();
    expect(isSpinning).toBe(false);

  }));</code></pre>

  <div>It should stop spinning after one second if all the promises have resolved or rejected in less than one second</div>
  <pre><code>it('should stop spinning after one second if all the promises have resolved or rejected in less than one second', fakeAsync(() => &#123;
    let isSpinning = true;
    service.spin(promise);

    service.spin(anotherPromise).then(() => &#123;
      isSpinning = false;
    });

    reject();
    resolveAnotherPromise();
    flushMicrotasks();
    expect(isSpinning).toBe(true);

    tick(1000);
    expect(isSpinning).toBe(false);
  }));</code></pre>

  <p>
    Right. Well. That's testing async services done and dusted. I'd love to say it gets easier from here,
    but I'm afraid that might be a lie. Having a solid grasp of this stuff will definitely make it easier 
    to understand what's going on with everything else though, especially when we get to testing components 
    with change detection.
  </p>
</section>